#selection-container {
  position: relative;
}

#selection-map {
  position: absolute;
  width: 60vw;
  height: 60vh;
  left: 50%;
  transform: translate(-50%);
}

#display-container {
  position: relative;
  top: 70vh;
}

#display-map {
  position: absolute;
  width: 90vw;
  height: 90vh;
  left: 50%;
  transform: translate(-50%);
}

.btn {
  height: 2vw;
  width: 7vw;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  top: 90vh;
}

.page {
  min-height: 100%;
}
