.selection-container {
  position: absolute;
  width: 33vw;
  height: 25vw;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

#selection-map {
  position: absolute;
  width: 33vw;
  height: 25vw;
  left: 0;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 1px 1px white;
}

#display-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#display-map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.btn {
  position: absolute;
  z-index: 20;
  top: 22vw;
  left: 14vw;
}
